.gallery {
  background-color: $color-first;
}
.gallery_title {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 67px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: rgba(232, 232, 232, 0.48);
}
.gallery_title-small {
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  display: flex;
  align-items: center;
  color: #e8e8e8;
}
.gallery_title-front {
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 67px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #e8e8e8;
}
.gallery_button {
  color: white;
  border-color: white;
}
.gallery__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-inline: 85px;
}
.gallery__item {
  width: 100%;
}
.gallery__picture {
  width: 620px;
}

.gallery_description {
  text-transform: uppercase;
  color: white;
}
// .gallery_description-breakfast::after {
//   @extend .gallery_description;
//   content: '';

//   position: absolute;
//   width: 53px;
//   height: 4px;
//   top: 0;
//   left: 0px;
//   // background: $background-color-button-active;
//   border-radius: 2px;
// }
.gallery_description-lunch {
}
.gallery_description-cake {
}
.gallery_description-dinners {
}
.gallery_tags {
  display: none;
}
.gallery_tags-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    padding-inline: 30px;
  }

  .gallery__item {
    width: 310px;
    align-items: center;
  }
  .gallery__picture {
    height: 435px;
  }
  .gallery__image {
  }

  .gallery_tags-list {
    display: none;
  }
  .gallery_description {
    width: 300px;
  }
}
@media screen and (min-width: 1440px) {
  .gallery__list {
    padding-inline: 50px;
  }
  .gallery__item {
    width: 620px;
    align-items: center;
  }
  .gallery_tags-list {
    display: flex;
    color: white;
  }

  .gallery_tags {
    display: flex;
    background-color: rgba(232, 232, 232, 0.7);
    color: black;
    margin-right: 10px;
    padding-right: 20px;
  }
}
