* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
}

.button {
  padding-block: 15px;
  padding-inline: 40px;
  border-width: 1px;
  border-style: solid;
  border-radius: 25px;
  background-color: $color-first;
}
