<div class="drinks container">
  <p class="drinks__label">our recommendations</p>
  <h2 class="drinks__title">drinks</h2>
  <section class="drinks__content">
    <!-- TU BĘDZIE SLIDER -->
    <div class="drinks-slider">
      <div class="drinks-slider__wrapper">
        <img
          width="308"
          class="drinks-slider__image"
          alt="glass of sparkling water"
          src="./images/drinks/water-1x.jpg"
          srcset="
            ./images/drinks/water-1x.jpg 308w,
            ./images/drinks/water-2x.jpg 616w
          "
        />
      </div>
    </div>
    <div class="drinks-boiled">
      <span class="drinks-boiled__element">B</span>
      <span class="drinks-boiled__element">O</span>
      <span class="drinks-boiled__element">I</span>
      <span class="drinks-boiled__element">L</span>
      <span class="drinks-boiled__element">E</span>
      <span class="drinks-boiled__element">D</span>
    </div>
    <img src="./images/drinks/red-stars-icon.svg" alt="stars and lines" />
    <h3 class="drinks__subtitle">perfect recipes</h3>
    <img
      width="500"
      class="drinks__coffee"
      alt="glass of sparkling water"
      src="./images/drinks/coffee-1x.jpg"
      srcset="
        ./images/drinks/coffee-1x.jpg  500w,
        ./images/drinks/coffee-2x.jpg 1000w
      "
    />
    <button class="drinks__button pointer button" type="button" data-modal-open>
      leave a comment
    </button>
  </section>
</div>
<!-- srcset="water-1x.jpg 308w, water-2x.jpg 616w"
          sizes="(min-width: 1440px) 308px" -->
