<div class="drinks container">
  <p class="drinks__label">our recommendations</p>
  <h2 class="drinks__title">drinks</h2>
  <section class="drinks__content">
    <!-- TU BĘDZIE SLIDER -->
    <div class="drinks-slider">
      <div class="drinks-slider__wrapper">
        <img
          width="308"
          class="drinks-slider__image"
          alt="glass of sparkling water"
          src="./images/drinks/water-1x.jpg"
          srcset="
            ./images/drinks/water-1x.jpg 308w,
            ./images/drinks/water-2x.jpg 616w
          "
        />
      </div>
    </div>
    <div class="drinks-stars">
      <img src="./images/drinks/red-stars-icon.svg" alt="red stars and lines" />
      <div class="drinks-boiled">
        <span class="drinks-boiled__element">B</span>
        <span class="drinks-boiled__element">O</span>
        <span class="drinks-boiled__element">I</span>
        <span class="drinks-boiled__element">L</span>
        <span class="drinks-boiled__element">E</span>
        <span class="drinks-boiled__element">D</span>
      </div>
      <div class="drink-stars__drinks">
        <span class="drink-stars__drinks--first">milk</span>
        <span class="drink-stars__drinks--second">alcohol</span>
        <span class="drink-stars__drinks--third">coffee</span>
        <span class="drink-stars__drinks--fourth">smoothies</span>
        <span class="drink-stars__drinks--fifth">water</span>
        <span class="drink-stars__drinks--sixth">juice</span>
        <span class="drink-stars__drinks--seventh">tea</span>
        <span class="drink-stars__drinks--eighth">shakes</span>
      </div>
      <h3 class="drinks-stars__subtitle">perfect recipes</h3>
    </div>
    <img
      width="500"
      class="drinks__coffee"
      alt="glass of sparkling water"
      src="./images/drinks/coffee-1x.jpg"
      srcset="
        ./images/drinks/coffee-1x.jpg  500w,
        ./images/drinks/coffee-2x.jpg 1000w
      "
    />
    <button class="drinks__button pointer button" type="button" data-modal-open>
      leave a comment
    </button>
  </section>
</div>
