<div class="footer">
  <p class="footer__subtitle">privacy policy</p>
  <p class="footer__subtitle">cookies policy</p>
  <p class="footer__subtitle">terms and conditions</p>
  <p class="footer__subtitle">© 2022 boiled</p>
  <h4 class="footer__title">projets</h4>
  <h4 class="footer__title">concept</h4>
  <h4 class="footer__title">à propos</h4>
  <h4 class="footer__title">playlist</h4>
  <h4 class="footer__title">contact</h4>
  <svg class="footer__instagram" width="24" height="24">
    <use href="images/icons.svg#icon-earphone"></use>
  </svg>
</div>
