<div class="footer container">
    <div class="footer__first-line">
  <p class="footer__subtitle">privacy policy</p>
  <p class="footer__subtitle">cookies policy</p>
  <p class="footer__subtitle">terms and conditions</p>
  <p class="footer__subtitle">© 2022 boiled</p>
</div>
<div class="footer__second-line">
  <h4 class="footer__title">projets</h4>
  <h4 class="footer__title">concept</h4>
  <h4 class="footer__title">à propos</h4>
  <h4 class="footer__title">playlist</h4>
  <h4 class="footer__title">contact</h4>
</div>
<div class="footer__third-line">
  <svg class="footer__instagram" width="24" height="24">
    <use href="./images/instagram.svg#icon-instagram"></use>
  </svg>
  <svg class="footer__facebook" width="24" height="24">
    <use href="./images/facebook.svg#icon-facebook"></use>
  </svg>
  <svg class="footer__linkedin" width="24" height="24">
    <use href="./images/linkedin.svg#icon-linkedin"></use>
  </svg>
  <svg class="footer__pinterest" width="24" height="24">
    <use href="./images/pinterest.svg#icon-pinterest"></use>
  </svg>
  <svg class="footer__spotify" width="24" height="24">
    <use href="./images/pinterest.svg#icon-spotify"></use>
  </svg>
  <svg class="footer__youtube" width="24" height="24">
    <use href="./images/youtube.svg#icon-youtube"></use>
  </svg>
</div>
</div>
