<div class="gallery container">
  <h2 class="gallery_title">
    <span class="gallery_title-small"> work </span>
    <span class="gallery_title-front">creating </span> with attention to details
  </h2>
  <button class="button gallery_button">contact us</button>
  <div class="gallery__box-list">
    <ul class="gallery__list">
      <!-------------------------- PANCAKES ----------------------------->
      <li >
        <picture class="gallery_picture">
          <source
            srcset="
              ./images/gallery/pancakes-1x.jpg,
              ./images/gallery/pancakes-2x.jpg
            "
            media="(min-width:1440px)"
          />
          <!-- <source
                  srcset="
                    ./images/Gallery/gallery-tablet-1x.png,
                    ./images/Gallery/gallery-tablet-2x.png
                  "
                  media="(min-width:768px)"
                />
                <source
                  srcset="./images/Gallery/gallery-mobile-2x.png"
                  media="(min-width:480px)"
                /> -->
          <img
            class="team-image"
            src="./images/gallery/pancakes-1x.jpg"
            alt="pancakes"
          />
        </picture>
        <h3 class="gallery_description">
            <!-- <svg class="gallery_description-breakfast" width="16" height="16">
            <use
              href="../images/header/star-icon-yellow.svg"
            ></use></svg> -->
            
            
            breakfast</h3>
        <div class="gallery_tags-list">
        <p class="gallery_tags">awaken the metabolism</p>
        <p class="gallery_tags">energy supply</p>
        <p class="gallery_tags">necessary ingredients</p>
    </div>
      </li>
      <!----------------------------- LUNCH ---------------------->
      <li >
        <picture class="gallery_picture">
            <source
              srcset="
                ./images/gallery/lunch-1x.jpg,
                ./images/gallery/lunch-2x.jpg
              "
              media="(min-width:1440px)"
            />
            <!-- <source
                    srcset="
                      ./images/Gallery/gallery-tablet-1x.png,
                      ./images/Gallery/gallery-tablet-2x.png
                    "
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="./images/Gallery/gallery-mobile-2x.png"
                    media="(min-width:480px)"
                  /> -->
            <img
              class="team-image"
              src="./images/gallery/lunch-1x.jpg"
              alt="pancakes"
            />
          </picture>
          <h3 class="gallery_description">lunch</h3>
        <div class="gallery_tags-list">
        <p class="gallery_tags">awaken the metabolism</p>
        <p class="gallery_tags">energy supply</p>
        <p class="gallery_tags">necessary ingredients</p>
    </div>
      </li>
      <!---------------------------------- CAKE --------------------------->
      <li >
        <picture class="gallery_picture">
            <source
              srcset="
                ./images/gallery/cake-1x.jpg,
                ./images/gallery/cake-2x.jpg
              "
              media="(min-width:1440px)"
            />
            <!-- <source
                    srcset="
                      ./images/Gallery/gallery-tablet-1x.png,
                      ./images/Gallery/gallery-tablet-2x.png
                    "
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="./images/Gallery/gallery-mobile-2x.png"
                    media="(min-width:480px)"
                  /> -->
            <img
              class="team-image"
              src="./images/gallery/cake-1x.jpg"
              alt="pancakes"
            />
          </picture>
          <h3 class="gallery_description">deserts</h3>
          <div class="gallery_tags-list">
          <p class="gallery_tags">awaken the metabolism</p>
          <p class="gallery_tags">energy supply</p>
          <p class="gallery_tags">necessary ingredients</p>
      </div>

      </li>
      <!--------------------------------- TOST --------------------------------->
      <li >
        <picture class="gallery_picture">
            <source
              srcset="
                ./images/gallery/tost-1x.jpg,
                ./images/gallery/tost-2x.jpg
              "
              media="(min-width:1440px)"
            />
            <!-- <source
                    srcset="
                      ./images/Gallery/gallery-tablet-1x.png,
                      ./images/Gallery/gallery-tablet-2x.png
                    "
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="./images/Gallery/gallery-mobile-2x.png"
                    media="(min-width:480px)"
                  /> -->
            <img
              class="team-image"
              src="./images/gallery/tost-1x.jpg"
              alt="pancakes"
            />
          </picture>
          <h3 class="gallery_description">dinners</h3>
          <div class="gallery_tags-list">
          <p class="gallery_tags">awaken the metabolism</p>
          <p class="gallery_tags">energy supply</p>
          <p class="gallery_tags">necessary ingredients</p>
      </div>

      </li>
    </ul>
  </div>
</div>
