<div class="header">
  <div class="container">
    <section class="header-menu">
      <a href="#" class="header-menu__logo">
        <img src="./images/boiled-icon-yellow.svg" alt="logo boiled" />
      </a>
      <nav>
        <ul class="header-menu__nav list">
          <li><a href="#">Home</a></li>
          <li><a href="#">Gallery</a></li>
          <li><a href="#">Drinks</a></li>
          <li><a href="#">Healthy</a> Food</li>
          <li><a href="#">Herbs & Spices</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
      <div class="header-menu__icons">
        <a href="#" class="header-menu__scheme-icon"></a>

        <button
          class="mobile-menu-button js-open-menu"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <img
            class="header-menu__burger-icon"
            src="./images/header/burger.svg"
            alt="icon-burger"
          />
          <!-- <svg class="header-menu__burger-icon">
        <use href="./images/header/burger.svg"></use>
      </svg> -->
        </button>
      </div>
    </section>
    <div class="header__star">
      <svg width="21" height="21">
        <use href="./images/icons-sprite.svg#icon-star-icon-yellow"></use>
      </svg>
    </div>
  </div>

  <div class="header-wrapper">
    <h1 class="header-wrapper__title container">
      Boiled
      <div class="header-wrapper__title--span">with</div>
      the passion
      <div class="header-wrapper__title--after">creativity</div>
    </h1>
  </div>
</div>
<!-- =============== MOBILE MENU ================  -->
<!-- 
<div class="menu-container js-menu-container" id="mobile-menu">
  <div>
    <a href="#" class="header-menu__scheme-icon"></a>
    <button class="menu-toggle js-close-menu"> 
      <svg
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
      >
        <path
          fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>
  </div>

  <div class="mobile-menu">
    <ul class="mobile-menu__list list">
      <li>Home</li>
      <li>Gallery</li>
      <li>Drinks</li>
      <li>Healthy Food</li>
      <li>Herbs & Spices</li>
      <li>Contact</li>
    </ul>
  </div>
</div> -->
