<div class="header">
  <div class="container">
    <section class="header-menu">
      <a href="#" class="header-menu__logo">
        <img src="./images/boiled-icon-yellow.svg" alt="logo boiled" />
      </a>
      <nav>
        <ul class="header-menu__nav list">
          <li><a class="header-menu__element" href="#">Home</a></li>
          <li><a class="header-menu__element" href="#">Gallery</a></li>
          <li><a class="header-menu__element" href="#">Drinks</a></li>
          <li><a class="header-menu__element" href="#">Healthy Food</a></li>
          <li><a class="header-menu__element" href="#">Herbs & Spices</a></li>
          <li><a class="header-menu__element" href="#">Contact</a></li>
        </ul>
      </nav>
      <div class="header-menu__icons">
        <a href="#" class="header-menu__scheme-icon"></a>

        <button
          class="mobile-menu-button js-open-menu"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <img
            class="header-menu__burger-icon"
            src="./images/header/burger.svg"
            alt="icon-burger"
          />
          <!-- <svg class="header-menu__burger-icon">
        <use href="./images/header/burger.svg"></use>
      </svg> -->
        </button>
      </div>
    </section>
    <div class="header__star">
      <svg width="21" height="21">
        <use href="./images/icons-sprite.svg#icon-star-icon-yellow"></use>
      </svg>
    </div>
  </div>

  <div class="header-wrapper">
    <h1 class="header-wrapper__title container">
      Boiled
      <div class="header-wrapper__title--span">with</div>
      the passion
    </h1>
  </div>
</div>
<!-- =============== MOBILE MENU ================  -->
<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="menu-container__header">
    <a href="#" class="mobile-menu__scheme-icon"></a>
    <button class="menu-toggle js-close-menu">
      <svg class="modal-menu__close-icon">
        <use href="./images/icons-sprite.svg#icon-modal-close"></use>
      </svg>
    </button>
  </div>

  <div class="mobile-menu">
    <ul class="mobile-menu__list list">
      <li><a href="#" class="mobile-menu__link">Home</a></li>
      <li><a href="#" class="mobile-menu__link">Gallery</a></li>
      <li><a href="#" class="mobile-menu__link">Drinks</a></li>
      <li><a href="#" class="mobile-menu__link">Healthy Food</a></li>
      <li><a href="#" class="mobile-menu__link">Herbs & Spices</a></li>
      <li><a href="#" class="mobile-menu__link">Contact</a></li>
    </ul>
  </div>
  <ul class="mobile-menu__socials list">
    <li class="mobile-menu__icon-container">
      <svg class="mobile-menu__icon">
        <use href="./images/icons-sprite.svg#instagram"></use>
      </svg>
    </li>
    <li class="mobile-menu__icon-container">
      <svg class="mobile-menu__icon">
        <use href="./images/icons-sprite.svg#fb"></use>
      </svg>
    </li>
    <li class="mobile-menu__icon-container">
      <svg class="mobile-menu__icon">
        <use href="./images/icons-sprite.svg#linkedin"></use>
      </svg>
    </li>
    <li class="mobile-menu__icon-container">
      <svg class="mobile-menu__icon">
        <use href="./images/icons-sprite.svg#pinterest"></use>
      </svg>
    </li>
    <li class="mobile-menu__icon-container">
      <svg class="mobile-menu__icon">
        <use href="./images/icons-sprite.svg#spotify"></use>
      </svg>
    </li>
  </ul>
</div>
