<div class="snacks container">
<p class="snacks__title--first">healthy snacks</p>    
<p class="snacks__title--second">fruits</p> 
<p class="snacks__title--third" style="position:relative">
    <svg class="snacks__title--icon-left">
        <use href="./images/icons-sprite.svg#icon-g-icon-dinner"></use>
      </svg> 
    vegetables<svg class="snacks__title--icon-right">
        <use href="./images/icons-sprite.svg#icon-g-icon-dinner"></use>
      </svg></p> 
<p class="snacks__title--fourth">nuts & seeds</p>
<div class="snack__banner"></div>
</div>